.jqLayout{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* north */
.ui-jqLayout-north{
	position: absolute;
	top:0;
	height: 50px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	/*border: 1px dotted #5c1a16;*/
}
/* south */
.ui-jqLayout-south{
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	/*border: 1px dotted #0a64b2;*/
}
/* west */
.ui-jqLayout-west{
	position: absolute;
	left: 0;
	top:50px;
	bottom: 30px;
	width: 220px;
	z-index: 2;
	overflow: hidden;
	box-sizing: border-box;
	/*border: 3px dotted rgba(11, 250, 5, 0.65);*/
}
/* east */
.ui-jqLayout-east{
	position: absolute;
	right: 0;
	top:50px;
	bottom: 30px;
	width: 150px;
	z-index: 2;
	overflow: hidden;
	box-sizing: border-box;
	/*border: 3px dotted #3d6e0b;*/
}
/* center */
.ui-jqLayout-center{
	position: absolute;
	top:50px;
	bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0 158px 0 228px;
	/*border: 3px solid #106b0a;*/
}
.ui-jqLayout-controlBut{
	margin: auto;
	cursor: pointer;
	z-index: 888;
	/*border: 1px dotted #fa130f;*/
}